<p class="card-text">
    Most common case is showing data from backend
    API and with ng-select this is extremely simple since you can bind directly to
    observable when using angular <b> | async</b> pipe
</p>

<ng-select [items]="dataService.countries$ | async"
           bindLabel="pais" 
           bindValue="idPais"
           [(ngModel)]="selectedPersonId">
</ng-select>

<ng-select [items]="[1,2,3,4,5,6,7,8,9]"
[inputAttrs]="numbersonly"
           >
</ng-select>
<!--ng-select [items]="dataService.countries$ | async"
           bindLabel="name"
           autofocus
           bindValue="id"
           [(ngModel)]="selectedPersonId">
</ng-select-->
<br/>Selected: {{selectedPersonId}}

<br/>
<input type="text" [ngModel]="value" numbersonly/>